# titulo
## subtitulo
### subsutitulo

*italicas*
**negritas**

$y_i = a + b * x_i$

Markdown es para aÃ±adir texto

En python se crea un objeto y luego a travez de codigos se manipula el objeto

In [2]:
variable1 = 6

In [3]:
#ver contenido
variable1

6

In [4]:
# ver contenido print()
print(variable1)

6

In [5]:
#corroborar que variable1 es entero
type(variable1)

int

In [6]:
#crear una variable decimal (flotante)
variable2 = 7.89

In [7]:
#verificar que variable2 es decimal
type(variable2)

float

In [8]:
#variable texto aka string
mi_inicial = 'A'

In [9]:
#verificar tipo de variable de mi_inicial
type(mi_inicial)

str

In [10]:
print(mi_inicial)

A

In [11]:
print(variable1, variable2)

6 7.89

In [13]:
print('la letra inicial de mi nombre: ', mi_inicial)

la letra inicial de mi nombre:  A

In [15]:
print(f'la letra inicial de mi nombre: {mi_inicial}')

la letra inicial de mi nombre: A

In [16]:
#este es un 6 entero : 6
print('este es un 6 entero', variable1)

este es un 6 entero 6

In [18]:
#este es un numero decimal : 7.89
print('este es un numero decimal', variable2)

este es un numero decimal 7.89

In [19]:
#crear un boleano
boleano1 = True

In [20]:
type(boleano1)

bool

In [21]:
7 > 5

True

In [22]:
7 > 19

False

In [24]:
7 > 5 & 7 < 2

False

In [25]:
variable1

6

In [26]:
variable1_decimal = float(variable1)

In [27]:
type(variable1_decimal)

float

In [28]:
print(variable1_decimal)

6.0

In [29]:
#sumar
8 + 5

13

In [31]:
variable1 + variable2

13.89

In [32]:
10 - 5

5

In [33]:
4 * 4

16

In [34]:
4 / 4

1.0

$3^2$

In [35]:
#potencia
pow(3,2)

9