# Estadistica Aplicada

Sesion 8, 24 de agosto

Jesus Adrian Cordero Hernandez 1952778

GPO 41

In [1]:
## 1-Librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# LIBRERIA ESPECIALIZADA
import statsmodels.formula.api as smf

In [5]:
datos = pd.read_excel('modelolineal.xlsx')
datos = datos[['X','Y']]

In [6]:
datos

     X          Y
0   23  19.246957
1   19  16.878501
2   27  20.187237
3   13  12.176789
4   21  21.420112
5   22  24.436799
6   19  14.507928
7   14  16.013496
8    3  12.043514
9    1   6.808838
10  19  20.473608
11  18  19.688717
12  12  20.405782
13  16  24.959259
14  29  23.913532
15  23  22.719407
16  14  18.680587
17  20  17.192583
18  27  28.422786
19  28  24.757379
20   0   9.544102
21  20  24.230330
22  24  26.417826
23  23  23.066723
24   8  13.145005
25  24  24.385156
26  10  12.934102
27   4  14.002469
28  29  26.599047
29  10  11.910387

estimar $Y = \beta_0 + \beta_1 X$

In [8]:
## Especificamos el modelo
reg = smf.ols(formula='Y~X', data=datos)
results = reg.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.732
Model:                            OLS   Adj. R-squared:                  0.722
Method:                 Least Squares   F-statistic:                     76.40
Date:                Thu, 24 Aug 2023   Prob (F-statistic):           1.72e-09
Time:                        14:22:09   Log-Likelihood:                -74.480
No. Observations:                  30   AIC:                             153.0
Df Residuals:                      28   BIC:                             155.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.9619      1.276      7.022      0.000       6.347      11.576
X              0.5814      0.067      8.740      0.000       0.445       0.718
==============================================================================
Omnibus:                        0.249   Durbin-Watson:                   1.658
Prob(Omnibus):                  0.883   Jarque-Bera (JB):                0.440
Skew:                           0.121   Prob(JB):                        0.803
Kurtosis:                       2.459   Cond. No.                         44.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Para evaluar un modelo generalmente se usa $R^2$. Pero no es la unica medida utilizada, tambien se suele usar con bastante frecuencia el MAD, MAPE y MSD.

MAD: Desviacion absoluta media

MSD: Desviacion cuadratica media

MAPE: Error porcentual absoluto medio

MAD = Evalua y compara modelos

In [9]:
## Definir el conjunto de prueba y el conjunto de evaluacion
## Generar x2
datos['X2'] = datos['X']**2
##
train_set = datos[:20]
test_set = datos[20:]

In [10]:
train_set

     X          Y   X2
0   23  19.246957  529
1   19  16.878501  361
2   27  20.187237  729
3   13  12.176789  169
4   21  21.420112  441
5   22  24.436799  484
6   19  14.507928  361
7   14  16.013496  196
8    3  12.043514    9
9    1   6.808838    1
10  19  20.473608  361
11  18  19.688717  324
12  12  20.405782  144
13  16  24.959259  256
14  29  23.913532  841
15  23  22.719407  529
16  14  18.680587  196
17  20  17.192583  400
18  27  28.422786  729
19  28  24.757379  784

## Estimar el primer modelo
estimar $Y = \beta_0 + \beta_1 X$

In [11]:
## Definir el primer modelo
reg_m1 = smf.ols(formula='Y~X', data=train_set)
## estimamos
results_m1 = reg_m1.fit()

In [15]:
b0 = results_m1.params[0]
b1 = results_m1.params[1]

In [16]:
## Pronostico el conjunto de evaluacion
test_set['Y_hat'] = b0+b1*test_set['X']

C:\Users\Dell\AppData\Local\Temp\ipykernel_1788\772184022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set['Y_hat'] = b0+b1*test_set['X']

In [17]:
test_set

     X          Y   X2      Y_hat
20   0   9.544102    0   9.233587
21  20  24.230330  400  20.117395
22  24  26.417826  576  22.294157
23  23  23.066723  529  21.749966
24   8  13.145005   64  13.587110
25  24  24.385156  576  22.294157
26  10  12.934102  100  14.675491
27   4  14.002469   16  11.410349
28  29  26.599047  841  25.015109
29  10  11.910387  100  14.675491

In [19]:
# Estimar
MAD = (test_set['Y']-test_set['Y_hat']).abs().mean()

In [20]:
print(MAD)

2.107953156470989

In [28]:
## Estimar modelo 2
reg_m2 = smf.ols(formula='Y~X+X2', data=train_set)
## estimamos
results_m2 = reg_m2.fit()
##
b0 = results_m2.params[0]
b1 = results_m2.params[1]
b2 = results_m2.params[2]
## Pronostico el conjunto de evaluacion
test_set['Y_hat2'] = b0+b1*test_set['X']+b2*test_set['X2']
# Estimar
MAD2 = (test_set['Y']-test_set['Y_hat2']).abs().mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_1788\1068287334.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set['Y_hat2'] = b0+b1*test_set['X']+b2*test_set['X2']

In [30]:
print(MAD.__round__(2), MAD2.__round__(2))

2.11 2.33

El mejor modelo segun MAD y utilizando validacion cruzada es el modelo $Y = \beta_0 + \beta_1 X$